body, html {
    height: 100%;
    margin: 0;
    font-family: monospace;
    font-size: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: left;
    cursor: url("cursor/cursor.png"), auto;
}

body {
    display: block;
}

.container {
    width: 70vw;
    margin: 20px auto;
    text-align: left;
    padding: 20px;
}

.tab {
    margin-bottom: 20px;
}

#songs {
    list-style-type: none;
    padding: 0;
}

#bikes {
    list-style-type: none;
    padding: 0;
}

#songs li {
    margin: 10px 0;
}

a {
    color: #4a90e2;
    text-decoration: none;
    cursor: url("cursor/sip.png"), auto;
}

a:hover {
    text-decoration: underline;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 6px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 3px;
    border: 3px solid black; 
    box-sizing: border-box;
}

img.four-grid-cells {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
}

img.wide-image {
    grid-column: span 2 / auto;
}

@media (min-resolution: 2dppx) {
    img {
        border-width: 0.1875rem; 
    }
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    
    img.four-grid-cells, img.wide-image, img.album-art {
        grid-column: span 2 / auto;
        grid-row: span 1 / auto;
    }
}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-item a {
    margin-top: 10px; 
    margin-bottom: 10px; 
    font-size: 12px;
    text-align: center;
}

.gallery-item img {
    width: 100%; 
    margin-bottom: 16px; 
}

.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 0 8px;
    color: #6c757d;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: #6c757d;
    pointer-events: none;
}

@media (max-width: 600px) {
    .breadcrumb {
        font-size: 14px;
    }
}