body, html {
    height: 100%;
    margin: 0;
    font-family: monospace;
    font-size: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: left;
    /* zoom: 120%; */
    cursor: url("../cursor/cursor.png"), auto;
}

body {
    display: block;
}

.container {
    width: 800px;
    margin: 20px auto;
    text-align: left;
    padding: 20px;
}

.tab {
    margin-bottom: 20px;
}

#songs {
    list-style-type: none;
    padding: 0;
}

#bikes {
    list-style-type: none;
    padding: 0;
}

#songs li {
    margin: 10px 0;
}

a {
    color: #4a90e2;
    text-decoration: none;
    cursor: url("../cursor/sip.png"), auto;
}

a:hover {
    text-decoration: underline;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    #tab {
        width: 100%;
        overflow-x: auto;
    }
}


img {
    max-width: 30vw;
    max-height: 50vh;
    height: auto;
    border: 3px black solid;
}


@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    #tab {
        width: 100%;
        overflow-x: auto;
    }
}
